
<%@ page import="com.invbox.bo.Item" %>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="layout" content="main" />
        <g:set var="entityName" value="${message(code: 'item.label', default: 'Item')}" />
        <title><g:message code="default.list.label" args="[entityName]" /></title>
    </head>
    <body>
        <div class="nav">
            <span class="menuButton"><a class="home" href="${createLink(uri: '/')}"><g:message code="default.home.label"/></a></span>
            <span class="menuButton"><g:link class="create" action="create"><g:message code="default.new.label" args="[entityName]" /></g:link></span>
        </div>
        <div class="body">
            <h1><g:message code="default.list.label" args="[entityName]" /></h1>
            <g:if test="${flash.message}">
            <div class="message">${flash.message}</div>
            </g:if>
            <div class="list">
                <table>
                    <thead>
                        <tr>
                        
                            <g:sortableColumn property="id" title="${message(code: 'item.id.label', default: 'Id')}" />
                        
                            <g:sortableColumn property="itemcode" title="${message(code: 'item.itemcode.label', default: 'Itemcode')}" />
                        
                            <g:sortableColumn property="itemname" title="${message(code: 'item.itemname.label', default: 'Itemname')}" />
                        
                            <g:sortableColumn property="itemdescription" title="${message(code: 'item.itemdescription.label', default: 'Itemdescription')}" />
                        
                            <g:sortableColumn property="purchaseprice" title="${message(code: 'item.purchaseprice.label', default: 'Purchaseprice')}" />
                        
                            <g:sortableColumn property="purchasedate" title="${message(code: 'item.purchasedate.label', default: 'Purchasedate')}" />
                        
                        </tr>
                    </thead>
                    <tbody>
                    <g:each in="${itemInstanceList}" status="i" var="itemInstance">
                        <tr class="${(i % 2) == 0 ? 'odd' : 'even'}">
                        
                            <td><g:link action="show" id="${itemInstance.id}">${fieldValue(bean: itemInstance, field: "id")}</g:link></td>
                        
                            <td>${fieldValue(bean: itemInstance, field: "itemcode")}</td>
                        
                            <td>${fieldValue(bean: itemInstance, field: "itemname")}</td>
                        
                            <td>${fieldValue(bean: itemInstance, field: "itemdescription")}</td>
                        
                            <td>${fieldValue(bean: itemInstance, field: "purchaseprice")}</td>
                        
                            <td><g:formatDate date="${itemInstance.purchasedate}" /></td>
                        
                        </tr>
                    </g:each>
                    </tbody>
                </table>
            </div>
            <div class="paginateButtons">
                <g:paginate total="${itemInstanceTotal}" />
            </div>
        </div>
    </body>
</html>
